@charset "utf-8";

html,
body {
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $baseFont;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.2em;
  word-wrap: break-word;
  color: #4c5753;
  background-color: $bgColor;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $linkColor;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.sp-br {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.pc-br {
  display: block;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

#wrapper {
  position: relative;
  transform-origin: 0 0;
}

.inner {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 1420px) {
    width: 88vw;
  }
}

.button-link {
  text-align: center;
  a {
    display: inline-block;
    width: 320px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 60px;
    transition: all .3s linear;
    color: #fff;
    border-radius: 30px;
    background-image: linear-gradient( 90deg, rgb(0,183,184) 1%, rgb(95,213,133) 65%, rgb(190,243,81) 100%);
    @media screen and (max-width: 1420px) {
      width: 21.3vw;
      line-height: 4vw;
      border-radius: 2vw;
    }
    @media screen and (max-width: 1300px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 1200px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      line-height: 50px;
      border-radius: 25px;
    }
    &+ a {
      margin-left: 15px;
      @media screen and (max-width: 768px) {
        margin-top: 15px;
        margin-left: 0;
      }
    }
    &.reinput {
      background-image: linear-gradient( -90deg, rgb(0,183,184) 1%, rgb(95,213,133) 65%, rgb(190,243,81) 100%);
    }
    &:hover {
      filter: hue-rotate(180deg);
    }
  }
}