doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title お問い合わせ | お料理サロン エリズテーブルアンドキッチン
    link(rel="stylesheet", href="../_assets/css/style.css")
    script(src="../_assets/js/viewport.js")
  body.low.contact
    header#header.low
      .logo
        a(href="../")
          img(src="../_assets/images/header-logo.png" alt="お料理サロン Eri’s table & kitchen エリズテーブルアンドキッチン")
      nav
        ul
          li
            a(href="../")
              |HOME
          li
            a(href="../about/")
              |ABOUT
          li
            a(href="../lesson/")
              |LESSON
          li.current
            a(href="../contact/")
              |CONTACT
      .hamburger-menu
        .inner
          .hamburger-menu-line.line-top
          .hamburger-menu-line.line-middle
          .hamburger-menu-line.line-bottom
    #wrapper.wrapper
      .low-mv.contact
        h1 お問い合わせ
      .contact-form
        .inner
          h2
            img(src="../_assets/images/contact-tit.svg" alt="Contact")
            span お問い合わせ
          form(action="/contact/" method="post" name="cform")
            table
              tr
                th
                  label.required(for="name")
                    |お名前
                td
                  |___name___
              tr
                th
                  label.required(for="kana")
                    |フリガナ
                td
                  |___kana___
              tr
                th
                  label.required(for="age")
                    |年齢
                td
                  |___age___
                  span.age
                    |歳
              tr
                th
                  label.required.sex(for="sex")
                    |性別
                td
                  |女性
              tr
                th
                  label.required(for="mail")
                    |メールアドレス
                td
                  |___mail___
              tr
                th
                  label.required(for="tel")
                    |電話番号
                td
                  |___tel1___
                  span.tel
                    |ー
                  |___tel2___
                  span.tel
                    |ー
                  |___tel3___
              tr
                th
                  label.required(for="request")
                    |ご希望日・
                    br
                    |ご希望レッスン・
                    br
                    |ご質問など
                td
                  |___request___
              tr
                th
                  label(for="allergy")
                    |アレルギー・
                    br
                    |苦手な食材など
                td
                  |___allergy___
          .form-note ※入力必須項目です
          .button-link
            a.reinput(href="#" onclick="document.getElementById('reinput').value='1';document.cform.submit(); return false;")
              |修正
            a(href="#" onclick="document.cform.submit(); return false;")
              |送信
      footer
        .footer-top
          .footer-contact-link-wrap
            .footer-contact-desc
              |レッスンのご予約、お問い合せはこちら
            .fcl-button
              a(href="../contact/")
                |お問い合せフォーム
          .footer-sns-links
            .link
              a(href="https://www.instagram.com/eristableandkitchen/" target="_blank")
                img.ig(src="../_assets/images/ico-instagram-w.png" alt="Instagram")
            .link
              a(href="https://eclat.hpplus.jp/hanagumi/miyahara" target="_blank")
                img.wc(src="../_assets/images/ico-webclat-w.png" alt="Webéchat")
        .copyright
          p Copyright © Eri’s table & kitchen  All rights reserved.
    script(src="../_assets/js/jquery-3.5.1.min.js")
    script(src="../_assets/js/script.js")
