@charset "utf-8";

footer {
  text-align: center;
  .footer-top {
    height: 320px;
    background-image: url(../images/footer-contact-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-size: 100% auto;
    @media screen and (max-width: 1020px) {
      background-attachment: scroll;
      background-position: center bottom;
      background-size: cover;
    }
    @media screen and (max-width: 768px) {
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
      background-attachment: scroll;
      background-size: cover;
    }
    .footer-contact-link-wrap {
      padding-top: 114px;
      @media screen and (max-width: 768px) {
        padding-top: 0;
      }
      .footer-contact-desc {
        display: inline-block;
        font-size: 2.5rem;
        font-weight: bold;
        color: #fff;
        @media screen and (max-width: 1020px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 900px) {
          font-size: 1.8rem;
        }
        @media screen and (max-width: 768px) {
          display: block;
          font-size: 1.6rem;
        }
        @media screen and (max-width: 320px) {
          font-size: 1.2rem;
        }
      }
      .fcl-button {
        display: inline-block;
        margin-left: 60px;
        @media screen and (max-width: 1020px) {
          margin-left: 30px;
        }
        @media screen and (max-width: 768px) {
          display: block;
          margin-top: 30px;
          margin-left: 0;
        }
        a {
          display: block;
          width: 400px;
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 75px;
          transition: all .3s linear;
          color: #fff;
          border-radius: 38px;
          background-image: linear-gradient( 90deg, rgb(0,183,184) 1%, rgb(95,213,133) 65%, rgb(190,243,81) 100%);
          @media screen and (max-width: 900px) {
            width: 300px;
          }
          @media screen and (max-width: 768px) {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            font-size: 1.4rem;
            line-height: 50px;
            border-radius: 30px;
          }
          &:hover {
            filter: hue-rotate(180deg);
            @media screen and (max-width: 768px) {
              filter: none;
            }
          }
        }
      }
    }
    .footer-sns-links {
      padding-top: 70px;
      @media screen and (max-width: 768px) {
        padding-top: 30px;
      }
      .link {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        &:first-child {
          margin-right: 34px;
          @media screen and (max-width: 768px) {
            margin-right: 20px;
          }
        }
        a {
          display: block;
          img {
            transition: opacity .3s linear;
            &.ig {
              width: 23px;
            }
            &.wc {
              width: 98px;
            }
          }
          &:hover {
            img {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1;
    @media screen and (max-width: 1260px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 1rem;
      line-height: 1.6;
    }
    @media screen and (max-width: 340px) {
      font-size: 0.8rem;
    }
  }
}