@charset "utf-8";

body {
  &.top {
    header {
      top: -90px;
      transition: all .3s ease-in;
      opacity: 0;
      @media screen and (max-width: 768px) {
        top: 0px;
        opacity: 1;
      }
      &.defmn {
        top: 0px;
        opacity: 1;
      }
    }
    .top-mv {
      position: relative;
      height: 100vh;
      min-height: 800px;
      //background-image: url(../images/top-mv.jpg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      @media screen and (max-width: 768px) {
        min-height: 300px;
      }
      .inner-sd-top {
        position: relative;
        z-index: 2;
        height: 100vh;
        min-height: 800px;
        background-image: url(../images/top-mv-sd-top.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        @media screen and (max-width: 768px) {
          min-height: 300px;
          background-image: none;
        }
      }
      .inner-sd-bottom {
        position: relative;
        height: 100vh;
        min-height: 800px;
        background-image: url(../images/top-mv-sd-bottom.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        @media screen and (max-width: 768px) {
          min-height: 300px;
          background-image: none;
        }
      }
      .top-header {
        position: relative;
        z-index: 6;
        height: 106px;
        @media screen and (max-width: 768px) {
          display: none;
        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        .sns-links {
          float: left;
          width: 400px;
          margin-left: 38px;
          padding-top: 35px;
          font-size: 0;
          .link {
            display: inline-block;
            width: 70px;
            vertical-align: top;
            opacity: 0;
            &.logo {
              width: 95px;
              height: 75px;
              margin-top: -5px;
              margin-right: 8px;
              img {
                width: auto;
                height: 75px;
              }
            }
            &.ig {
              margin-right: 8px;
              img {
                width: 23px;
                opacity: 0;
              }
              a {
                display: flex;
                width: 70px;
                height: 70px;
                transition: all .3s linear;
                border-radius: 50%;
                background-color: #161517;
                justify-content: center;
                align-items: center;
                &:hover {
                  background-color: rgba(0,0,0,0.6);
                }
              }
            }
            &.wc {
              margin-right: 8px;
              img {
                width: 57px;
                opacity: 0;
              }
              a {
                display: flex;
                width: 70px;
                height: 70px;
                transition: all .3s linear;
                border-radius: 50%;
                background-color: #161517;
                justify-content: center;
                align-items: center;
                &:hover {
                  background-color: rgba(0,0,0,0.6);
                }
              }
            }
          }
          &.is-show {
            .link {
              &.logo {
                animation-name: top_mv_ico_s;
                animation-duration: .5s;
                animation-timing-function: ease-in;
                animation-delay: 1s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
              }
              &.ig {
                animation-name: top_mv_fade;
                animation-duration: .5s;
                animation-timing-function: linear;
                animation-delay: 1.5s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                img {
                  animation-name: top_mv_fade;
                  animation-duration: .5s;
                  animation-timing-function: linear;
                  animation-delay: 2s;
                  animation-iteration-count: 1;
                  animation-direction: normal;
                  animation-fill-mode: forwards;
                }
              }
              &.wc {
                animation-name: top_mv_ico;
                animation-duration: .3s;
                animation-timing-function: ease-in;
                animation-delay: 2s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                img {
                  animation-name: top_mv_fade;
                  animation-duration: .5s;
                  animation-timing-function: ease-out;
                  animation-delay: 2.5s;
                  animation-iteration-count: 1;
                  animation-direction: normal;
                  animation-fill-mode: forwards;
                }
              }
            }
          }
        }
        nav {
          float: right;
          padding-right: 30px;
          ul {
            padding-top: 60px;
            font-size: 0;
            li {
              display: inline-block;
              margin-left: 40px;
              @media screen and (max-width: 1060px) {
                margin-left: 20px;
              }
              @media screen and (max-width: 850px) {
                margin-left: 15px;
              }
              a {
                position: relative;
                display: block;
                font-family: 'MS P明朝','ヒラギノ明朝','Times', serif;
                font-size: 1.8rem;
                line-height: 1;
                transition: all .3s ease;
                letter-spacing: 0.1em;
                color: #fff;
                @media screen and (max-width: 900px) {
                  font-size: 1.6rem;
                }
                @media screen and (max-width: 850px) {
                  font-size: 1.4rem;
                }
                &:after {
                  content: "";
                  position: absolute;
                  bottom: -12px;
                  left: -0.1em;
                  display: block;
                  width: 100%;
                  height: 2px;
                  transition: all .6s ease;
                  opacity: 0;
                  background-color: #06b6b5;
                }
                &:hover {
                  color: #06b6b5;
                }
              }
              &.current {
                a {
                  color: #06b6b5;
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      .mv-message {
        position: absolute;
        z-index: 5;
        top: 50%;
        width: 100%;
        font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-size: 4.5rem;
        font-weight: bold;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0;
        color: #fff;
        text-shadow:
          rgba(0,0,0,0.3) 1px 1px 20px, rgba(0,0,0,0.3) -1px 1px 20px,
          rgba(0,0,0,0.3) 1px -1px 20px, rgba(0,0,0,0.3) -1px -1px 20px;
        @media screen and (max-width: 1160px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 2.4rem;
        }
        @media screen and (max-width: 340px) {
          font-size: 2.2rem;
        }
        span {
          display: block;
          margin-top: 20px;
          font-size: 2rem;
          font-weight: normal;
          @media screen and (max-width: 768px) {
            width: 90vw;
            margin-right: auto;
            margin-left: auto;
            font-size: 1.8rem;
          }
        }
        &.is-show {
          animation-name: top_mv_fade;
          animation-duration: 0.6s;
          animation-timing-function: ease-out;
          animation-delay: 1s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
        }
      }
    }
    .top-news {
      position: relative;
      .inner {
        padding-top: 68px;
        padding-bottom: 100px;
        @media screen and (max-width: 768px) {
          padding-top: 30px;
          padding-bottom: 50px;
        }
      }
      dl {
        line-height: 2.6;
        @media screen and (max-width: 1160px) {
          font-size: 1.4rem;
        }
        dt {
          font-weight: bold;
        }
      }
      .link {
        margin-top: 30px;
        text-align: center;
        a {
          display: inline-block;
          width: 150px;
          line-height: 40px;
          transition: all .3s linear;
          color: #00b9b6;
          border: solid 1px #00b9b6;
          border-radius: 20px;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          &:hover {
            color: #fff;
            background-color: #00b9b6;
          }
        }
      }
    }
    .top-message {
      background-color: #f4f8ee;
      .inner {
        padding-top: 70px;
        padding-bottom: 70px;
        background-image: url(../images/top-message.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 327px auto;
        @media screen and (max-width: 1420px) {
          padding-top: 4.6vw;
          padding-bottom: 6.6vw;
          background-size: 21.8vw auto;
        }
        @media screen and (max-width: 768px) {
          padding-top: 35px;
          padding-bottom: 35px;
          background-image: none;
        }
      }
      h2 {
        position: absolute;
        top: -35px;
        right: -70px;
        text-align: right;
        @media screen and (max-width: 1420px) {
          top: -2.3vw;
          right: -4.6vw;
        }
        @media screen and (max-width: 768px) {
          position: static;
          top: initial;
          right: initial;
          text-align: center;
        }
        img {
          width: 273px;
          height: auto;
          @media screen and (max-width: 1420px) {
            width: 18.2vw;
          }
          @media screen and (max-width: 768px) {
            width: 60%;
            max-width: 220px;
          }
        }
        span {
          display: block;
          font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
          font-size: 1.4rem;
          font-weight: bold;
          color: #4ace90;
          @media screen and (max-width: 1160px) {
            font-size: 1.2rem;
          }
        }
      }
      h3 {
        position: relative;
        margin-bottom: 20px;
        font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-size: 3.9rem;
        font-weight: bold;
        line-height: 1;
        color: #00b7b8;
        @media screen and (max-width: 1280px) {
          font-size: 3.5rem;
        }
        @media screen and (max-width: 1160px) {
          font-size: 3.2rem;
        }
        @media screen and (max-width: 768px) {
          margin-top: 25px;
          font-size: 1.8rem;
        }
        @media screen and (max-width: 340px) {
          font-size: 1.5rem;
        }
        &:before {
          content: "";
          position: absolute;
          top: 60%;
          left: -70px;
          display: block;
          width: 65px;
          height: 1px;
          background-color: #00b7b8;
          @media screen and (max-width: 1160px) {
            left: -40px;
            width: 40px;
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
      p {
        width: 68%;
        line-height: 2.6;
        @media screen and (max-width: 1160px) {
          font-size: 1.4rem;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
      .button-link {
        margin-top: 30px;
      }
    }
    .top-lesson {
      padding-top: 65px;
      padding-bottom: 100px;
      @media screen and (max-width: 1420px) {
        padding-top: 4.3vw;
        padding-bottom: 6.6vw;
      }
      @media screen and (max-width: 768px) {
        padding-top: 35px;
        padding-bottom: 50px;
      }
      h2 {
        margin-bottom: 50px;
        text-align: center;
        @media screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
        img {
          width: 228px;
          height: auto;
          @media screen and (max-width: 1420px) {
            width: 15.2vw;
          }
          @media screen and (max-width: 768px) {
            width: 50%;
            max-width: 250px;
          }
        }
        span {
          display: block;
          margin-top: 10px;
          font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
          font-size: 1.4rem;
          font-weight: bold;
          color: #4ace90;
          @media screen and (max-width: 1160px) {
            font-size: 1.2rem;
          }
        }
      }
      .top-lesson-slider {
        display: flex;
        overflow: hidden;
        .slider__inner {
          display: flex;
          padding-left: 20px;
          flex-shrink: 0;
          .slider__item {
            width: 280px;
            margin-right: 10px;
            margin-left: 10px;
            flex-shrink: 0;
            @media screen and (max-width: 1420px) {
              width: 18.6vw;
            }
            @media screen and (max-width: 1160px) {
              width: 25vw;
            }
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            img {
              width: 100% !important;
            }
          }
          &:first-child {
            animation: loop 90s linear infinite;
          }
          &:nth-child(2) {
            animation: loop2 90s -60s linear infinite;
          }
          &:last-child {
            animation: loop3 90s -30s linear infinite;
          }
        }
      }
      .button-link {
        margin-top: 45px;
        @media screen and (max-width: 768px) {
          margin-top: 30px;
          a {
            width: 88vw;
          }
        }
      }
    }
    .top-information {
      background-color: #fbf8ec;
      .inner {
        padding-top: 160px;
        padding-bottom: 140px;
        @media screen and (max-width: 1420px) {
          padding-top: 10.6vw;
          padding-bottom: 9.3vw;
        }
      }
      h2 {
        position: absolute;
        top: -36px;
        left: -73px;
        margin-bottom: 47px;
        text-align: left;
        @media screen and (max-width: 1420px) {
          top: -2.4vw;
          left: -4.8vw;
        }
        @media screen and (max-width: 768px) {
          position: static;
          text-align: center;
        }
        img {
          width: 398px;
          height: auto;
          @media screen and (max-width: 1420px) {
            width: 26.5vw;
          }
          @media screen and (max-width: 768px) {
            width: 70vw;
            max-width: 250px;
          }
        }
        span {
          display: block;
          font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
          font-size: 1.4rem;
          font-weight: bold;
          color: #4ace90;
          @media screen and (max-width: 1160px) {
            font-size: 1.2rem;
          }
        }
      }
      .top-info-wrap {
        position: relative;
        margin-left: 45px;
        padding-top: 75px;
        padding-bottom: 105px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        @media screen and (max-width: 1420px) {
          margin-left: 3vw;
          padding-top: 5vw;
          padding-bottom: 7vw;
        }
        @media screen and (max-width: 768px) {
          margin-left: 0;
          padding-top: 0;
          padding-bottom: 30px;
          box-shadow: 0 0 4px rgba(0,0,0,0.2);
        }
        .top-info {
          position: relative;
          z-index: 1;
          margin-left: 540px;
          color: #00b9b7;
          @media screen and (max-width: 1420px) {
            margin-left: 36vw;
          }
          @media screen and (max-width: 768px) {
            position: static;
            margin-left: 0;
          }
          h3 {
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
              margin-top: 30px;
              margin-bottom: 20px;
              text-align: center;
            }
            img {
              width: 496px;
              @media screen and (max-width: 1420px) {
                width: 33vw;
              }
              @media screen and (max-width: 768px) {
                width: 80%;
                max-width: 220px;
              }
            }
          }
          h4 {
            line-height: 2.4;
            @media screen and (max-width: 1160px) {
              font-size: 1.4rem;
            }
            @media screen and (max-width: 768px) {
              text-align: center;
            }
          }
          p {
            line-height: 2.4;
            @media screen and (max-width: 1160px) {
              padding-right: 30px;
              font-size: 1.4rem;
            }
            @media screen and (max-width: 768px) {
              width: 90%;
              margin-right: auto;
              margin-bottom: 20px;
              margin-left: auto;
            }
          }
        }
        .top-instagram {
          position: absolute;
          z-index: 2;
          top: -47px;
          left: -45px;
          width: 535px;
          height: 370px;
          @media screen and (max-width: 1420px) {
            top: -3.1vw;
            left: -3vw;
            width: 35vw;
            height: 24.6vw;
          }
          @media screen and (max-width: 768px) {
            position: relative;
            z-index: 1;
            top: initial;
            left: initial;
            width: 100%;
            height: 60vw;
          }
          iframe {
            width: 100% !important;
            height: 25vw !important;
            @media screen and (max-width: 768px) {
              height: 60vw !important;
            }
          }
        }
        .button-link {
          position: absolute;
          z-index: 3;
          right: 600px;
          bottom: -30px;
          transform: translateX(50%);
          @media screen and (max-width: 1420px) {
            right: 40vw;
            bottom: -2vw;
          }
          @media screen and (max-width: 768px) {
            position: relative;
            right: initial;
            bottom: initial;
            width: 100%;
            transform: none;
            text-align: center;
          }
          a {
            background-image: linear-gradient( 90deg, rgb(126,75,200) 0%, rgb(232,15,121) 50%, rgb(244,108,105) 83%, rgb(255,201,88) 100%);
            @media screen and (max-width: 768px) {
              width: 90%;
              margin-right: auto;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}

@keyframes loop {
  0% {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes loop3 {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-300%);
  }
}

@keyframes top_mv_fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes top_mv_ico {
  0% {
    transform: scale(1,1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2,1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1,1);
    opacity: 1;
  }
}

@keyframes top_mv_ico_s {
  0% {
    transform: scale(1,1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2,1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1,1);
    opacity: 1;
  }
}

#animation_container {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  width:300px;
  height:200px;
  transition: opacity .6s ease .6s;
  transform: translate(-50%,-50%);
  opacity: 1;
  background-color:rgba(255, 255, 255, 0);
  &.is-end {
    opacity: 0;
  }
}
#canvas {
  position: absolute;
  display: block;
  background-color:rgba(255, 255, 255, 0);
}
#dom_overlay_container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  overflow:hidden;
  width:300px;
  height:300px;
  pointer-events:none;
}

#slidecontainer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  @media screen and (max-width: 768px) {
    min-height: 300px;
  }
}
_:lang(x)::-ms-, .top-mv {
  min-height: 780px;
}

_:lang(x)::-ms-, .inner-sd-top {
  min-height: 780px;
}

_:lang(x)::-ms-, .inner-sd-bottom {
  min-height: 780px;
}
